{% extends 'shop/basic.html' %}
{% load static %}
{% block title %} Wahab's E-Shop {% endblock %}
{% block cssfile %}
.col-md-3 {
            display: inline-block;
            margin-left: -4px;
        }

        body .carousel-control-indicator li {
            background-color: blue;
        }

        body .carousel-control-prev-icon body .carousel-control-next-icon {
            background-color: blue;
        }

        body .no-padding {
            padding-left: 0;
            padding-right: 0;
        }

        .carousel-indicators .active{
        background-color: blue;
        }

        img.card-img-top {
    width: auto;
    max-height: 175px;
    object-fit: contain;
}
    .card{
        width: 18rem;
    }
    .card-text {
    width: 100%;
    height: 45px;
}

    .card-title {
    text-align: center;
}

{#    .carousel-control-next, .carousel-control-prev {#}
{#        top: auto;#}
{#        bottom: auto;#}
{#    }#}

    a.btn.btn-primary {
    text-align: center;
    display: block;
    margin: auto;
    background: #468d46;
    font-weight: 600;
    transition: background-color 0.5s;
}

   a.btn.btn-primary:hover {
    background-color: black;
}




 {% endblock %}


{% block body %}
    <div class="container">

       {% for j in category %}
        <h1 class="mb-5 mt-4"> {{ j }}</h1>
        <div id="demo{{forloop.counter }}" class="carousel slide my-3" data-bs-ride="carousel">
          <div class="carousel-inner">
                <div class="carousel-item active">
                  {% for i in product %}
                      {% if  j == i.category %}
                <div class="col-xs-3 col-sm-3 col-md-3">
                  <div class="card">
                    <img src='/media/{{ i.image }}' class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ i }}</h5>
                      <p class="card-text">{{ i.desc }}</p>
                      <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                  </div>
                </div>

                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                    </div>  <div class="carousel-item">

                    {% endif %}
                      {% endif %}
                  {% endfor %}
                </div>
                </div>
                </div>

{% endfor %}

        <button class="carousel-control-prev" type="button" data-bs-target="#demo{{forloop.counter }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo{{forloop.counter }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

     </div>

 {% endblock %}



